.checkbox {
  @apply mr-2 h-4 w-4 rounded border border-gray-300 text-indigo-600 focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2 focus:ring-offset-white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:checked {
    background-image: url('/images/checkbox.svg');
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}
