@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

button,
input,
select,
textarea {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

#root {
  align-items: center;
  display: flex;
  isolation: isolate;
  flex-direction: column;
  min-height: 100dvh;
}

footer {
  margin: auto 0 0 0;
}
